.foot{
    background: #14203a;
    color:#fff;
    font-family:"DM Serif Display",serif;
}

.footer-title{
    font-size:2rem;
    color:#fff;
    margin-bottom:15px;
}

.footer-title::after{
    content:"";
    display:block;
    width:70px;
    height:4px;
    margin-top:8px;
    background:#d4af37;
    border-radius:10px;
}

.footer-subtitle{
    color:#d4af37;
    margin-bottom:20px;
    letter-spacing:2px;
}

.foot p{
    font-family:sans-serif;
    color:#ddd;
    line-height:1.8;
}


/* Contacto */

.contact-list{
    list-style:none;
    padding:0;
    margin:0;
}

.contact-list li{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
    color:#ddd;
    font-family:sans-serif;
    border-bottom: 2px solid white;
}

.contact-icon{
    width:48px;
    height:48px;
    min-width:48px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contact-icon img{
    width:22px;
    height:22px;
}

/* Mapa */

.map-container{
    overflow:hidden;
    border-radius:15px;
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.map-container iframe{
    width:100%;
    height:220px;
    border:none;
}

/* Línea */

.foot hr{
    border-color:rgba(255,255,255,.15);
    margin:45px 0 20px;
}

/* Footer */

.footer-bottom{
    text-align:center;
    color:#d4d4d4;
    font-family:sans-serif;
}

/* Tablet */

@media (max-width: 960px) {

    .foot{
        text-align:center;
    }

    .footer-title::after{
        margin:10px auto;
    }

    .social-icons{
        justify-content:center;
    }

    .contact-list li{
        justify-content:center;
        text-align:left;
    }

}

/* Celular */

@media (max-width: 480px) {

    .foot{
        padding:50px 20px;
    }

    .footer-title{
        font-size:1.7rem;
    }

    .map-container iframe{
        height:250px;
    }

}

/* Celulares pequeños */

@media (max-width: 240px) {

    .footer-title{
        font-size:1.5rem;
    }

    .social-icons{
        flex-wrap:wrap;
    }

    .social-icons a{
        width:45px;
        height:45px;
    }

    .contact-list li{
        align-items:flex-start;
    }

    .contact-icon{
        width:42px;
        height:42px;
        min-width:42px;
    }

    .contact-icon img{
        width:18px;
        height:18px;
    }

    .map-container iframe{
        height:220px;
    }

}