.navbar {
	display: flex;
	width: 220px;
	height: 100vh;
	background: linear-gradient(180deg, #1e4f8a 0%, #13345a 100%);
	padding: 10px;
}
.navbar-links {
	flex: 1;
	padding: 8px;
	font-size: 19px;
}
.navbar-links a {
	display: block;
	color: #f7f7f7;
	text-decoration: none;
	margin: 25px 0;
}
